@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
background-image: url('../pages/img/fleur-SE2zTdS1MNo-unsplash.jpg');
}

.ice-cream{
background-image: url('../pages/img/slim-1.png');
}

.hero-image{
    background-image: url('../pages/img/ice6.jpg');
}

.ice-cream-image1{
    background-image: url('../pages/img/ice1.jpg');
}

